/* ESTILOS PARA MENU DE NAVEGACION */
.container img {
  width: 10%;
}
.menu .navbar-nav .nav-link {
  color: #c6d7e3;
}
.menu {
  background: #009d01;
}

/* MENU PRINCIPAL */
.banner img {
  width: 100%;
  height: 500px;
}

/* SERVICIOS */
h3 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* estilos para barra de redes sociales */

.social {
  position: fixed;
  left: -25px;
  top: 250px;
  z-index: 2000;
}

.social ul {
  list-style: none;
}

.social ul li a {
  display: inline-block;
  color: white;
  background: black;
  padding: 15px 15px;
  font-size: 25px;
  transition: all 500ms ease;
}

.social ul li a:hover {
  padding: 15px 30px;
}

.social ul li .fa-facebook-square {
  background: #3b5998;
}
.social ul li .fa-instagram {
  background: #f56040;
}
.social ul li .fa-whatsapp {
  background: #4ac959;
}

/* MAPA */
.container-mapa {
  text-align: center;
}

/* estilos para el footer */
.footer p {
  overflow: hidden;
  text-align: center;
  margin-top: 64px;
  font-size: 12px;
  font-weight: 300;
}
.container-footer {
  justify-content: center;
  display: flex;
}

img{
  display: block;
  margin: auto;
}
.login{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #85C1E9
}
.card {
 
  box-shadow: 10px 10px 15px black;
}
h5 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.link-log {
  padding: 2.5 rem;
  text-align:center ;}
.button-center{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}
/* estilos para regitrar*/
.form-regitrar {
  box-shadow: 2px 8px 34px -3px rgba(0, 0, 0, 0.65);
  margin: 6em auto;
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 2em;
  overflow: hidden;

  position: relative;
}


.form-registrar::before {
  content: "";
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #0e47a1;
  top: 0;
  left: 0;
}

.form-registrar__title {
  color: #687178;
  text-align: center;
  font-weight: bold;
  font-size: 2.3em;
}

.form-regitrar__inputs {
  display: flex;
  flex-direction: column;
}

.form-registrar__input {
  margin-bottom: 1em;
  padding: 0.5em 0.6em;
  position: relative;
  font-size: 1.2em;
}

.form-registrar__action {
  background-color: #0e47a1;
  border: none;
  color: white;
  padding: 0.5em 2em;

  cursor: pointer;
  border-radius: 8px;
  transition: 0.5s all;
  font-size: 1.25em;
}

.form-registrar__action:hover {
  background-color: rgb(13, 50, 112);
  transform: scale(1.1);
}